body{
    background-attachment: fixed;
    background-image: url(../images/image0.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #3b35a3;
    background-size: 100vw;
    height: 100vh;
}
